$dark: #333333;
$modalBlack: #333333BF;
$strokeDark: #8B8B8B;
$strokeLight: #D4D4D4;
$light: #FAFAFA;
$buttons: #FFC702;
$main: #00CA69;
$active: #FF5C16;
$inverse: #A93DFF;

h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 12px;
}
.BodyM{
    font-size: 20px;
    font-weight: 500;
}
.BodyL{
    font-size: 20px;
    font-weight: 300;
}
.BodySmall{
    font-size: 12px;
    font-weight: 500;
}
.CaptionM{
    font-size: 16px;
    font-weight: 500;
}
.CaptionL{
    font-size: 16px;
    font-weight: 300;
}

